body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  height: 100vh;
}

.hidden {
  opacity: 0;
}

.alan {
  background-image: url('alan-turing.png');
  background-size: cover;
  height: 40vh;
  width: 40vh;
  filter: drop-shadow(5px 5px 5px white) drop-shadow(-5px -5px 5px white);
}

.speech {
  --height: 20vw;
  --width: calc(2 * var(--height));
  background-color: white;
  color: #333;
  border-radius: 50%;
  width: var(--width);
  height: var(--height);
  position: fixed;
  border-radius: 50%;
  font-size: 5em;
  text-align: center;
  line-height: var(--height);
}

.speech::before {
  content: '';
  position: absolute;
  background: white;
  width: 5vw;
  height: 5vw;
  left: -1vw;
  top: calc(50% - 2.5vw);
  transform: rotate(45deg);
}

.wave {
  line-height: 25vh; 
  font-size: 20em;
}

.spectrum {
  --line-colour: rgba(255, 255, 255, 0.25);
  margin-top: 20vh;
  height: 25vh;
  background: repeating-linear-gradient(to right, transparent, transparent 25px, var(--line-colour) 25px, var(--line-colour) 26px),
    repeating-linear-gradient(to bottom, transparent, transparent 25px, var(--line-colour) 25px, var(--line-colour) 26px),
    linear-gradient(90deg, red, orange, #22ff2f, cyan, magenta, #800020);
  box-shadow: inset 0 20px 30px #333, inset 0 -20px 30px #333;
  position: relative;
}

.point {
  position: absolute;
  width: 5px;
  height: 100%;
  border: 2px solid white;
}

#one {
  left: 15%;
}
#two {
  left: 60%;
}
#three {
  left: 80%;
}

.talking {
  display: flex;
}
.speech {
  bottom: 10vh;
  right: 20vw;
}


